<p> Turns left: <%= @tally.turns_left %> </p>
<p> Word so far: </p>
<p> <%= join_letters(@tally.letters) %> </p>
<p> Letters used: </p>
<p> <%= if length(@tally.used) == 0, do: "none", else: join_letters(@tally.used) %> </p>

<%= if game_over?(@tally) do %>
  <%= new_game_button(@conn) %>
<% else %>
  <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f ->  %>
    <%= text_input(f, :guess) %>
    <%= submit("guess") %>
  <% end)%>
<% end %>